// Navigation Styles here

header{
    border-bottom: 2px dashed #c0c0c0;

    .fun-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3% auto;
        max-width: 800px;

        nav{
            display: flex;
            justify-content: space-around;
            width: 45%;

            a{
                text-decoration: none;
                font-size: 1.5rem;
                color: black;
            }
        }
    }
}